<ul id="nav"
    data-ng-controller="NavCtrl"
    data-collapse-nav
    data-slim-scroll
    data-highlight-active>
    <li><a href="#/dashboard"> <i class="fa fa-dashboard"></i><span data-i18n="Dashboard"></span> </a></li>
    <li>
        <a href="#/customers"><i class="fa fa-building-o"></i><span>Customers</span></a>
    </li>
    <li>
        <a href="#/suppliers"><i class="glyphicon glyphicon-home"></i><span>Suppliers</span></a>
    </li>
    <li>
        <a href="#/projects"><i class="fa fa-th"></i><span>Projects</span></a>
    </li>
    <li>
        <a href="#/plans"><i class="glyphicon glyphicon-time"></i><span>Plans</span></a>
    </li>
    <li>
        <a href="#/tasks"><i class="fa fa-tasks"></i><span data-i18n="Tasks"></span></a>
    </li>
    <li>
        <a href="#/orders"><i class="fa fa-money"></i><span>Orders</span></a>
    </li>
    <li>
        <a href="#/messages"><i class="fa fa-envelope-o"></i><span>Messages</span></a>
        <ul>
            <li><a href="#/tables/static"><i class="fa fa-caret-right"></i><span>Inbox</span><span class="badge badge-danger">5</span></a></li>
            <li><a href="#/tables/responsive"><i class="fa fa-caret-right"></i><span>Sent</span></a></li>
            <li><a href="#/tables/dynamic"><i class="fa fa-caret-right"></i><span>Drafts</span></a></li>
        </ul>
    </li>
    <li>
        <a href="#/users"><i class="fa fa-user"></i><span>Users</span></a>
    </li>
    <li>
        <a href="#/setting"><i class="fa fa-cogs"></i><span>Setting</span></a>
        <ul>
            <li><a href="#/profile"><i class="fa fa-caret-right"></i><span>My Profile</span></a></li>
        </ul>
    </li>
</ul>